@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Hurricane&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --fonte-principal: 'Roboto','Hurricane' ,sans-serif;
}
:root{
    --cor-principal: #34383C;
    --cor-secundaria: ##E4383C;
    --cor-terciaria: #ffffff;
    --cor-footer: #E3301D;
    --cor-texto-header: #E25F63;
    --cor-texto-botao-header: #E73421;
}