:root{
    --fonte-principal: 'Roboto', sans-serif;
}
:root{
    --cor-principal: #34383C;
    --cor-secundaria: ##E4383C;
    --cor-terciaria: #ffffff;
    --cor-footer: ##E3301D;
    --cor-texto: #E25F63;
}