/* cabeçalho ou literalmente o header do site */
.cabecalho {
    position: fixed;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 5.625rem);
    height: 186px;
    left: 50%;
    transform: translate(-50%);
    max-width: 1826px;
    margin: 2.5625rem auto;
    /* primeiro vem dos lados 22 e depois em cima e embaixo 60 */
    padding: 1.375rem 3.75rem;

    border-radius: 15px;
}

/* dimensões da logo do site 137x141 */
header .logo {
    width: 137px;
    height: 141px;
    transition: cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
}

/* estilizando o hamburguer do menu */
#burguer {
    display: none;
    color: #ffffff;
    text-align: center;
    height: auto;
    font-size: 6.25rem;
    z-index: 1001;
    transition: opacity 0.4s ease;
}

#burguer:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* estilizando o menu de navegação do header */
header .nav-container {
    display: flex;
    align-items: center;
    right: -100%;
}

header .main-nav {
    height: 100%;
    right: -150%;
    display: flex;
    align-items: center;
}

header .main-nav ul {
    display: flex;
    gap: 2.75rem;
    margin-right: 82px;
    height: 100%;
    align-items: center;
}

/* estilizando texto do menu */
header .main-nav ul a {
    color: var(--cor-texto-header);
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    transition: cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
}

header .main-nav ul a:hover {
    color: #ffffff;
}

header .main-nav ul .dropdown {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

header .main-nav ul .dropdown img:hover {
    cursor: pointer;
    opacity: 0.7;
}

header .main-nav .login .btn-login #user {
    display: block;
    font-size: 100px;
    border-radius: 30%;
    color: #ffffff;
}

header .main-nav .login .btn-login #user:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* menu para mobile */
.check-box {
    display: none;
}

/* Responsividade do site para desktop*/
@media (max-width:1820px) {
    header .logo {
        width: 100px;
        height: 103px;
        transition: cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
    }

    header .main-nav ul {
        gap: 2rem;
        margin-right: 50px;
    }

    header .main-nav ul a {
        font-size: 2.7rem;
        transition: cubic-bezier(0.25, 0.1, 0.25, 1) 0.3s;
    }


}

/* Responsividade do site ainda para desktop e tablet porém menores */
@media (max-width:1660px) {
    .cabecalho {
        border-radius: 15px 15px 0 0;
    }

    #burguer {
        display: block;
    }

    .nav-container {
        width: 300px;
        position: fixed;
        top: 186px;
        flex-direction: column;
        padding: 30px 20px;
        background-color: yellow;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        gap: 2rem;
        transition: right 0.5s ease;
        border-radius: 0 0 0 15px;
    }

    .main-nav {
        height: auto;
        right: -150%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-nav ul {
        position: relative;
        flex-direction: column;
        gap: 1.5rem;
        margin-right: 0;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }

    /* linha que divide os itens do menu */
    header .main-nav ul .item-nav {
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        width: 100%;
    }

    /* itens do menu */
    header .main-nav ul a {
        font-size: 1.5rem;
        padding-bottom: 0.6rem;
    }

    header .main-nav ul a:hover {
        color: black;
    }

    /* botao de login */
    header .main-nav .login .btn-login #user {
        color: var(--cor-texto-header);
        font-size: 80px;
        padding-top: 1.5rem;
    }

    header .main-nav .login .btn-login #user:hover {
        cursor: pointer;
        color: #000000;
    }

    /* seta dropdown itens menu */
    header .main-nav ul .dropdown img {
        display: flex;
        width: 15px;
        height: 18px;
    }

    header .main-nav ul .dropdown a {
        display: flex;
        padding-bottom: 0;

    }

    header .main-nav ul .dropdown {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .check-box:checked~.nav-container {
        right: 0;
    }
}

/* Responsividade do site para mobile */
@media (max-width:600px) {
    header .logo {
        width: 80px;
        height: 83px;
    }

    header .main-nav ul {
        gap: 1.5rem;
        margin-right: 30px;
    }

    header .main-nav ul a {
        font-size: 1.85rem;
    }

}

/* Responsividade do site para mobiles menores */
@media (max-width:400px) {
    .cabecalho {
        padding: 1rem 2rem;
    }

    header .logo {
        width: 70px;
        height: 73px;
    }

    .nav-container {
        width: 200px;
    }

    header .main-nav ul a {
        font-size: 1.6rem;
    }
}